.section {
  padding: 8% 5%;
  color: black;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-top: 20px;
}

.image {
  max-width: 100%;
  height: auto;
  flex: 1 1 300px;
}

@media (max-width: 768px) {
  .section {
    padding: 8% 3%;
  }

  .image {
    width: 100% !important;
  }
}
